
<div class="visualizer p-2 m-2 flex-start shadow round-corners container">
   <div class="row-container p-2 flex-align-center space-around">
     <div class="column-container image-div flex-align-center">
       <img [src]="avatar" class="profile-pic">
       <p class="text-center">{{profile.bio}}</p>
     </div>


     <div class="column-container">
       <div *ngFor="let entry of entries">
         <app-field-value [entry]="entry"></app-field-value>
       </div>

     </div>
   </div>

</div>
