
<div *ngIf="profile.winner; else notWinner"  class="row-container justify-center p-2">
  <img src="assets/Winner!!!.png"/>
</div>

<ng-template #notWinner>
  <div class="row-container justify-center p-2">
    <img src="assets/Winner!!!.png" style="visibility: hidden"/>
  </div>
</ng-template>


<div class="visualizer p-2 m-2 flex-start shadow round-corners container">
   <div class="row-container p-2 flex-align-center space-around">
     <div class="column-container image-div flex-align-center">
       <img [src]="avatar" class="profile-pic">
       <ng-container *ngIf="profile else profileNotFound">
         <p class="text-center">{{profile.bio}}</p>
       </ng-container>

       <ng-template #profileNotFound>
         <p class="text-center">Profile not found</p>
       </ng-template>

     </div>


     <div class="column-container">
       <div *ngFor="let entry of entries">
         <app-field-value [entry]="entry"></app-field-value>
       </div>

     </div>
   </div>

</div>
